# Python
__pycache__/
*.pyc

# Dataset (IMPORTANT)
dataset/
dataset_types/

# Models (large files)
*.pth

# Environment
venv/
.env
.venv

# OS files
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# VS Code (optional)
.vscode/